body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin: 0;
    padding: 20px;
    font-size: 36px;
}

#instructions #statsHeader{
    font-size: 24px;
    margin: 20px;
}

.box {
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 50px;
    border: 2px solid #999;
    border-radius: 10px;
    font-size: 22px;
    display: inline-flex;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

#statsLink {
    margin-top: 10px;
}

#statsRow div.statsBox {
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 10px;
    margin-top: 50px;
    border: 2px solid #999;
    border-radius: 10px;
    display: inline-flex;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    justify-content: center;
    align-items: center;
}

#statsRow div.statsBox div {
    font-size: 24px;
    font-weight: bold;
    display: contents;
}

#statsRow div.statsBox div.stat {
    font-size: 32px;
    padding-top: 20px;
}

#percent {
    font-size:38px !important;
}

.disclaimer {
    font-size: 12px;
    margin: 20px;
}

.correct {
    background-color: mediumseagreen;
}

.incorrect {
    background-color: #C41E3A;
}

.droppable {
    border: 2px dashed #3498db;
    background-color: #f2f2f2;
    position: relative;
    /* Add this line */
}

#bottomRow {
    text-align: center;
}

#submitBtn, #playAgainBtn, #clearStatsBtn {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
}

#clearStatsBtn {
    background-color: red;
}

button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button.enabled {
    background-color: #3498db;
    cursor: pointer;
}

/* Responsive layout for mobile devices */
@media (max-width: 600px) {

    .box,
    .droppable {
        padding: 5px;
        width: 20%;
        /* Adjusted width for better mobile display */
        margin: 5px auto;
        /* Center the boxes on smaller screens */
    }

    #statsRow div.statsBox {
        width: 20%;
        margin: 0 auto;
    }

    #statsRow div.statsBox div.stat {
        font-size: 28px;
    }

    #percent {
        font-size: 32px !important;
    }
    
}